.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto auto auto auto ;
  grid-gap: 3px;
}
.topnav{
  grid-column: 1/-1 ;
  grid-row: 1/2;
}
.slideshow-container{
  grid-column: 1/-1;
  grid-row: 3/4;
}
section{
  grid-column: 1/-1;
  grid-row: 4/5;
}
footer{
  grid-column: 1/-1;
  grid-row: 5/6;
}
.container2{
  height: 100%;
  display: grid;
  grid-template-columns:repeat(8, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 3px;
}
.sparare-rubrik{
  grid-column: 1/5;
  grid-row: 3/4;
}
.sparare-text{
  grid-column: 1/5;
  grid-row: 4/5;
}
.tofs{
  grid-column: 6/9;
  grid-row: 4/5;
}
.upptackare-rubrik{
grid-column: 5/9;
grid-row: 5/6;
}
.upptackare-text{
  grid-column: 5/9;
  grid-row: 6/7;
}
.lampa{
  grid-column: 2/5;
  grid-row: 6/7;
}
.aventyrare-rubrik{
  grid-column: 1/5;
  grid-row: 7/8;
}
.aventyrare-text{
  grid-column: 1/5;
  grid-row: 8/9;
}
.brasa{
  grid-column: 6/9;
  grid-row: 8/9;
}
.utmanare-rubrik{
  grid-column: 5/9;
  grid-row: 9/10;
}
.utmanare-text{
  grid-column: 5/9;
  grid-row: 10/11;
}
.megafon{
  grid-column: 2/5;
  grid-row: 10/11;
}
.rover-rubrik{
  grid-column: 1/5;
  grid-row: 11/12;
}
.rover-text{
  grid-column: 1/5;
  grid-row: 12/13;
}
.hjarta{
  grid-column: 6/9;
  grid-row: 12/13;
}
footer{
  grid-column: 1/-1;
  grid-row: 13/14;
}
